.Header {
  height: 80px;
  border-bottom: 1px solid lightgrey;
  &-container {
    display: flex;
    align-items: center;
    padding: 15px 10px;
  }

  &-logo {
    height: auto;
    width: 235px;
    object-fit: contain;
  }
  &-nav {
    &-container {
      display: flex;
      margin-left: 50px;
    }

    &-element {
      margin-right: 55px;
      cursor: pointer;
    }
  }
}
