.sidebar {
  top: 0;
  left: 0;
  width: 15%;
  height: 100%;
  border-right: 1px solid lightgrey;
  &-logo {
    height: 7%;
    width: 100%;
    border-bottom: 1px solid lightgrey;
    > img {
      object-fit: contain;
      height: 100%;
      width: 100%;
    }
  }
  &-container {
    margin: auto;
    text-align: center;
  }

  &-img {
    width: 150px !important;
    height: 150px !important;
    margin: 15px auto;
  }
}
