.Header {
  height: 90px;
  box-shadow: 1px 2px 3px lightgray;

  &-container {
    display: flex;
    align-items: center;
    padding: 20px 10px;
  }

  &-logo {
    height: auto;
    width: 235px;
    object-fit: contain;
  }
  &-nav {
    &-container {
      display: flex;
      margin-left: 50px;
    }

    &-element {
      margin-right: 55px;
      cursor: pointer;
    }
  }
}
