.Home {
  width: 100vw;
  height: 100vh;

  &-layout {
    width: 85%;
    height: 100%;
  }

  &-container {
    height: 90%;
    width: 100%;
  }

  &-calendar {
    width: 100%;
    margin-top: 15px;
    height: 85vh;
  }
}
